<%= turbo_frame_tag dom_id(todo) do%>
  <div class="card">
    <div class="card-body <%=todo.done ? 'completed' : 'not-completed'%>">
      <%= todo.name %><br/>
      <div class="btn-group float-right">
        <%= link_to todo.done ? 'Undo' : 'Complete', update_completed_path(id: todo.id,todo: todo),class:'btn btn-secondary text-white'%>
        <%= link_to 'Edit', edit_todo_path(todo),class:'btn btn-warning text-secondary'%>
        <%= link_to 'Destroy', todo,method: :delete,class:'btn btn-danger text-white'%>
      </div>
    </div>
  </div>
<% end %>